{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
<!--    <script src="{% static 'bootstrap/popper.js' %}"></script>-->
<!--    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

        {% block navigation %}
        {% endblock %}
<!--        <br><br><br>-->
        {% block export %}{% endblock %}


        <div class="container">
        <form method="POST">
        {% csrf_token %}

        <div class="d-flex container mb-3">

        {% block filter %} {% endblock %}

        <div class="table-responsive" style="border:1px solid #27A2FC; ">
            {% block main %} {% endblock %}
            {% block pagination %} {% endblock %}
        </div>

        </div>


        </form>
        </div>
        {% block script %} {% endblock %}
</body>
</html>