<div class="col-md-12 text-center mb-3">
    <div class="btn-group" role="group">
        <button type="button" id="first-page" class="btn btn-outline-primary active"></button>
        <button type="button" id="previous-page" class="btn btn-outline-primary"></button>
        <button type="button" id="current-page" class="btn btn-outline-primary "></button>
        <button type="button" id="next-page" class="btn btn-outline-primary"></button>
        <button type="button" id="last-page" class="btn btn-outline-primary"></button>
    </div>
</div>